<!DOCTYPE html>

<html>
    <head>
        <title>Airports CRUD</title>
        <meta charset="UTF-8">
        <meta name="description" content="Airports CRUD">
        <meta name="author" content="Lucija Perković">
        <meta name="keywords" content="airports, airlines">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="./styles/datatables.css">
        <link rel="stylesheet" href="./styles/main.css">
        <script type="text/javascript" charset="utf8" src="./styles/datatables.js"></script>
        
        
        <script>
            $(document).ready( function () {
		        $('#myTable').DataTable();
            } );
            
        </script>
    </head>
    <body>
        
        <div><h1>Airlines</h1></div>
        <div><a href="/"><button class="button button_back">Back</button></a></div>
        <div>
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>Airline ID</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let airline of airlines) { %>
                    <tr><td><%=airline.airline_id%></td>
                        <td><%=airline.airline_name%></td>
                        <td><%=airline.country_name%></td>
                        
                        <td><input type="submit" value="Edit" class="button button_edit" id = "edit_click" onclick="openForm(this.parentNode.parentNode)"></td>
                        
                        
                        
                        <td><input type="button" value="Delete" class="button button_delete" id = "delete_click" onclick="deleteFunction(this.parentNode.parentNode)"></td>
                    </tr>
                    
                    <% } %>
                </tbody>
            </table>
           
        </div>
        <div class="form-popup" id="myForm">
            <form class="form-container">
                <h1>Edit airline</h1>

                <label for="airline_name"><b>Airline name</b></label>
                <input type="text" id = "airline_name" placeholder="Enter name" name="airline_name" required>

                <label for="country_name"><b>Country name</b></label>
                <input type="text" id = "country_name" placeholder="Enter country" name="country_name" required>
                <button type="submit" class="btn" id = "edit_button">Save</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </form>
           
        </div>
        <div>
            <a href="airlines/add"><input type="button" value="Add Airline" class="button button_add"></a>
            <a href="airlines/JSONDownload" download ><input type="button" value="JSON Download" class="button button_download"></a>
        </div>
        <script>
            function deleteFunction(airline_id) {
                
                var confirm_button = confirm("Are you sure?");
                airline_id = airline_id.firstChild.innerHTML;
                console.log(airline_id);
                
                if(confirm_button){
                    $.ajax({
                        url: 'airlines/delete/:airline_id',
                        data: jQuery.param({ airline_id: airline_id}) ,
                        type: 'DELETE',
                        
                        success: function(result) {
                            console.log(result);
                        }
                        
                    });
                    location.reload();
                    
                }
                
            }
        </script>
        <script>
            var airline_id = 0;
            function openForm(id) {
                document.getElementById("myForm").style.display = "block";
                document.getElementById("airline_name").value = id.childNodes[2].innerHTML;
                document.getElementById("country_name").value = id.childNodes[4].innerHTML;

                airline_id = id.firstChild.innerHTML;
            }

            document.getElementById("edit_button").addEventListener("click", function() {
                var airline_name = document.getElementById("airline_name").value;
                var country_name = document.getElementById("country_name").value;
                console.log(airline_name);
                console.log(country_name);
                console.log(airline_id);
                $.ajax({
                        url: 'airlines/edit/:airline_id',
                        data: jQuery.param({ airline_id: airline_id, airline_name:airline_name, country_name: country_name}) ,
                        type: 'PUT',
                        
                        success: function(result) {
                            console.log(result);
                            
                            
                        }
                        
                    }).done(function () {
                        console.log('SUCCESS');
                    }).fail(function(msg){
                        console.log('FAIL')
                    });
                   
            })
            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
            
        </script>
    </body>

</html>