<!DOCTYPE html>

<html>
    <head>
        <title>Airports CRUD</title>
        <meta charset="UTF-8">
        <meta name="description" content="Airports CRUD">
        <meta name="author" content="Lucija Perković">
        <meta name="keywords" content="airports, airlines">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div>
            <form action="add" method="POST"><fieldset>
                <legend>New airline</legend><br>
                <label for="airline_name" >Name:</label>
                <input type="text" name="airline_name" id="airline_name" size="30"><br>
                <label for="country_name">Country:</label>
                <input type="text" name="country_name" id="country_name" size="30"><br>
                <br>
                <div>
                    <input type="submit" value="Add" class="button button_add">
    
                </div>
            </fieldset></form>
           
        </div>
        
        
    </body>

</html>