legend{
    font-size: 20px;
}
label{
    font-size: 30px;
}
.display{
    width: 100%;
    font-size: 20px;
    padding: 1px;
}
.button{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    
}
.main_buttons{
    font-size: 80px;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    border-radius: 14px;
    transition-duration: 0.4s;
    width: 33%;
    height: 250px;
}
.main_buttons:hover{
    background-color: lightgray;
}
.button_edit{
    background-color:darkorange;
}
.button_delete{
    background-color: red;
}
.button_add{
    background-color: yellowgreen;
}
.button_download{
    background-color: blue;
}
.button_back{
    background-color: rgb(65, 57, 57);
}
#map {
    zoom: 1;
    height: 400px;
    width: 50%;
    margin: 0;
    padding: 0;
  }
h1{
    font-size: 70px;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}
input[type=text]:focus {
    background-color: lightgrey;
}
#lat,#lng{
    background-color: gray;
    color: honeydew;
    
}

