.form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

  }

  /* Add styles to the form container */
  .form-container {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    overflow: auto;
    border: 1px solid #888;
    width: 80%;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
legend{
    font-size: 20px;
}
label{
    font-size: 20px;
}
.display{
    width: 100%;
    font-size: 20px;
    padding: 1px;
}
.button{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    
}
.main_buttons{
    font-size: 80px;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    border-radius: 14px;
    transition-duration: 0.4s;
    width: 33%;
    height: 250px;
}
.main_buttons:hover{
    background-color: lightgray;
}
.button_edit{
    background-color:darkorange;
}
.button_delete{
    background-color: red;
}
.button_add{
    background-color: yellowgreen;
}
.button_download{
    background-color: blue;
}
.button_back{
    background-color: rgb(65, 57, 57);
}
#map {
    zoom: 1;
    height: 400px;
    width: 50%;
    margin: 0;
    padding: 0;
  }
h1{
    font-size: 70px;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}
input[type=text]:focus {
    background-color: lightgrey;
}
#lat,#lng{
    background-color: gray;
    color: honeydew;
    
}

